@use "../utilities" as u;

body {
  background: var(--grey-200);

  @include u.breakpoint(medium) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: u.rem(-140);
  }
}
