@use "../utilities" as u;

@mixin flex-column-gap($gap) {
  display: flex;
  flex-direction: column;
  gap: u.rem($gap);
}

.form {
  background: var(--white);
  height: 100vh;
  border-radius: u.rem(20);
  padding: u.rem(32);

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  max-width: u.rem(920);

  @include u.breakpoint(medium) {
    height: fit-content;
    border-radius: u.rem(20);
  }
}

.form,
#split-form,
.form__inputs-container {
  @include flex-column-gap(32);
}

#split-form {
  @include u.breakpoint(medium) {
    flex-direction: row;
  }
}

.form__inputs-container,
.form__results {
  @include u.breakpoint(medium) {
    width: 50%;
  }
}

input,
label {
  cursor: pointer;
}

input[type="text"] {
  background: var(--grey-50);
  padding: u.rem(8) u.rem(16);
  width: 100%;
  text-align: right;
  border-radius: u.rem(4);

  font-weight: 700;
  color: var(--green-900);
  font-size: u.rem(24);
  transition: all 0.16s ease-in;
  border: 2px solid var(--grey-50);

  &::placeholder {
    color: var(--grey-500);
  }

  &:hover {
    border-color: var(--green-400);
  }
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;

  & + label {
    background: var(--green-900);
    color: var(--white);
    padding: u.rem(10);
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: u.rem(24);
    border-radius: u.rem(4);
    transition: all 0.16s ease-in;

    &:hover {
      background: var(--grey-200);
      color: var(--green-900);
    }
  }

  &:checked + label {
    background: var(--green-400);
    color: var(--green-900);
  }
}

label,
legend {
  display: inline-block;
  font-weight: 700;
  color: var(--grey-500);
  margin-bottom: u.rem(8);
}

.form__tips-container {
  display: grid;
  gap: u.rem(16);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  @include u.breakpoint(medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.form__results {
  background: var(--green-900);
  color: var(--grey-50);
  padding: u.rem(36) u.rem(24) u.rem(24) u.rem(24);
  border-radius: u.rem(12);

  @include flex-column-gap(28);
  justify-content: space-between;

  .form__results-info {
    @include flex-column-gap(28);
  }
}

.form__result {
  display: flex;
  justify-content: space-between;
  .form__result-label {
    font-size: u.rem(15);
  }
  .form__per-person {
    display: block;
    font-size: u.rem(14);
    color: var(--grey-400);
  }

  .form__tip-value,
  .form__total-value {
    color: var(--green-400);
    font-weight: 700;
    font-size: clamp(u.rem(30), 1rem + 1.44vw, u.rem(42));
  }
}

.form__input-icon-container {
  position: absolute;
  left: u.rem(20);
}

.form__text-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.form__label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form__error-msg {
    display: none;
    color: var(--red-500);
    margin-bottom: u.rem(8);
  }
}
