@use "../utilities" as u;

body {
  font-family: "Space Mono", monospace;
}

.title {
  text-transform: uppercase;
  font-size: u.rem(28);

  letter-spacing: u.rem(4);
  text-align: center;

  margin: u.rem(32);
  color: var(--grey-500);

  @include u.breakpoint(medium) {
    margin: 0 0 u.rem(64) 0;
  }
}
